<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kumakore.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- KUMAKORE:BEGIN -->
    <!-- GCM requires Android SDK version 2.2 (API level 8) or above. -->
    <!--
         The targetSdkVersion is optional, but it's always a good practice to 
		target higher versions.
    -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- This app has permission to vibrate from a notifications. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
         Creates a custom permission so only this app can receive its messages. 
		NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE, where 
		PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.kumakore.sample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.kumakore.sample.permission.C2D_MESSAGE" />
    <!-- KUMAKORE:END -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/kumakore_icon"
        android:label="@string/app_name" >

        <!-- KUMAKORE:BEGIN -->
        <!--
             BroadcastReceiver that will receive intents from GCM services and 
			handle them to the custom IntentService. The com.google.android.c2dm.permission.SEND 
			permission is necessary so only GCM services can send data messages for the 
			app.
        -->
        <receiver
            android:name="com.kumakore.NotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.kumakore.sample" />
            </intent-filter>
        </receiver>

        <!--
             Application-specific subclass of IntentService that will handle received 
			messages.
        -->
        <service android:name="com.kumakore.NotificationService" />
        <!-- KUMAKORE:END -->

        <activity
            android:name="HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="TrySignupSigninActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DemoActivity" />
        </activity>        
         <activity
            android:name="UserSettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DemoActivity" />
        </activity>        
        <activity
            android:name="InventoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DemoActivity" />
        </activity>
        <activity
            android:name="AchievementsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DemoActivity" />
        </activity>
          <activity
            android:name="DemoFacebook"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DemoActivity" />
        </activity>        
       
        <activity
            android:name="MatchListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DemoActivity" />
        </activity>   
         <activity
            android:name="MatchInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DemoMatchList" />
        </activity>         
        
        
        
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

</manifest>